#body-bg{
	background-color: rgb(204, 204, 204);
}
.heading{
	text-align:center;
}
.song_lists{
	list-style-type:none;

.link{
	text-decoration-line:none;
}
#list_main{
	border-radius:5px;
	border-width:2px;
	border-style:solid;
	border-color:black;
	background-color: rgb(255, 255, 255);
}	
#player_one{
	background-color: rgb(255, 255, 255);
	
}